$bgdarker: #1f212d;
$bgdark: #2c2e3a;
$bgdefault: #424557;
$bglightold: #555977;
$bglightild: #6e4b75;
$bglight: #7a1388;
$bglighterold: #6a6f95;
$bglighteroldd: #8a66b9;
$bglighter:  #7a1388;
$bgsnow:rgba(6, 41, 92, 0.849);

$background: $bgsnow;
$background2: $bgsnow;
$background3: $bgsnow;
$lightbg: $bglighter;

$chartreuse: chartreuse;
$grey: #f8f8f2;
$blue: #6272a4;
$cyan: #8be9fd;
$green: #3cdd65;
$orange: #ffb86c;
$pinkold: #fc83d3;
$pink2: rgb(100, 7, 100);
$purpleold: #bd93f9;
$purple2: #7a1388;
$red: #ff5555;
$yellow: #f1fa8c;
$white: #fafafa;
$black: #202020;
$pink: #d345a4;
$purple: #6936b1;
$very-short-duration: 0.1s;
$short-duration: 0.3s;
$medium-duration: 0.5s;
$long-duration: 1s;

$nuclear-font: "Roboto", "Helvetica Neue", Tahoma, Helvetica, sans-serif;
